$color-alerta: #789541;
$color-error: #158899;
$color-acceso: #159711;

@mixin sombras{
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
@mixin bordes{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

/*-----Estilos-----*/
//EXTENDS
.alerta{
  padding: 15px;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5px;
  letter-spacing: 3px;
  text-align: center;
  color: black;
  background-color: $color-alerta;
  @include sombras;
  @include bordes;
}
.error{
  @extend .alerta;
  background-color: $color-error;
  font-size: 10px;
}
.acceso{
  @extend .error;
  background-color: $color-acceso;
}
//PLACEHOLDER
%buttom{
  padding: 10px;
  color: #fff;
  background: blue;
  border-radius: 6px;
  display: inline-block;
}
.cancelar{
  @extend %buttom;
  background: $color-error;
}
.enviar{
  @extend %buttom;
  background: $color-acceso;
}
