$color-rojo: #22FF6B ;
*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  background-color: $color-rojo;
  color: black;
}
#cuadrado1{
  background-color: #895623;
  h3{
    color: #457812;
    background-color: black;
    width: 100px;
  }
  p{
    color: #845162;
    background-color: aqua;
    width: 150px;
    &:hover{
      background-color: blue;
    }
  }
}