@mixin cuadrado($color, $ancho:200px){
  width: $ancho;
  height: 200px;
  background-color: $color;
  margin: 5px;
  padding: 3px;
}
#cuadrado1{
  @include cuadrado(#845162)
}
#cuadrado2{
  @include cuadrado(#789955,360px)
}
#cuadrado3{
  @include cuadrado(#123456,500px)
}